@page
@model DDDFirst.Feature.Category.List.IndexModel
@{
}

<h2>Lista Kategorii</h2>
@{
foreach (var category in Model.Data.Categories)
{
    <p>
        @category.Name
        <a asp-page="/Category/Update/Index">zmień</a>
    </p>
}
}
